/////////////////////////////////
// Step Sequencer
/////////////////////////////////

.seq
  display: block
  &__keyrow
    display: block
  &__bar
    display: inline-block
    border: solid 1px #ddd
    padding: $blh/8 $blh
