/////////////////////////////////
// Synth (Visual Details)
/////////////////////////////////

.synth
  display: block
  border: dotted 2px #ddd
  padding: $blh/2 $blh
  h2
    margin-bottom: $blh/2
  ul
    display: block
    padding: 0
  &__title
    margin-bottom: $blh/2
  &__item
    display: block
    margin-bottom: 0
  &__voice
    display: block
    margin-bottom: 0
    border: solid 1px #eee
  &__details
    display: block
    padding: 0
    margin: 0
    font-size: 0
    h4
      font-weight: 700
      margin-bottom: $blh/4
  &__module
    display: inline-block
    vertical-align: top
    width: 33.3333%
    border: solid 1px #eee
    font-size: 12px
    line-height: 18px
    padding: $blh/2
  &__panel
    display: block
    margin-bottom: $blh/4
    i
      color: #666
