/////////////////////////////////
// Title
/////////////////////////////////

.title
  $clr-main: #35495e
  $clr-alt: #526488
  font-weight: 300
  display: block
  &--main
    +font($font-title, 300)
    font-size: ($bfs*5)
    color: $clr-main
    letter-spacing: 1px
    line-height: ($blh*4)
    margin-bottom: ($blh/2)
  &--sub
    font-size: ($bfs*2)
    line-height: ($blh*2)
    color: $clr-alt
    word-spacing: 5px
    margin-bottom: ($blh)
